@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Quicksand&family=Roboto+Condensed&family=Wendy+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.bg-details {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#firstSlide {
    background-image: url("images/cover/cover-1.png");

}

#secondSlide {
    background-image: url("images/cover/cover-2.jpg");

}

#thirdSlide {
    background-image: url("images/cover/cover-3.jpg");

}